# ===============================
# Settings Chunks
# ===============================
CHUNK_SIZE=150
CHUNK_OVERLAP=20
# ===============================
# Qdrant Vector Database
# ===============================
QDRANT_HOST=
QDRANT_API_KEY=
QDRANT_COLLECTION=DOCUMENTS

# ===============================
# Google Gemini 2.5 / AI Model
# ===============================
GOOGLE_AI_API_KEY=
GOOGLE_AI_MODEL=gemini-2.5-pro
# ===============================
# Embeddings / Sentence Model
# ===============================
EMBEDDINGS_MODEL=
# ===============================
# Redis
# ===============================
REDIS_URL=
